*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background:#253339;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    
    
/* 2104 leetcode  sum of sub array ranges with monotonic stack*/
}